body {
  background-color: #000000 !important;
}

.firstpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/labackground.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
  padding: 200px;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/labackground.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
}

.everything {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/labackground.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  font-family: sans-serif;
  color: white;
  width: 100%;
  padding: 100px;
}

#results {
  padding: 30px;
}

.restaurantcontainer {
  font-family: "Libre Baskerville", serif;
  color: white;
  float: left;
  padding: 70px;
  width: 50%;
  border-style: double;
  border-color: lightgray;
}

.title {
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
  text-decoration: underline;
}
.mapsContainer {
  position: sticky;
  top: 100px;
  margin-left: 10%;
  width: 50%;
  height: 500px;
}

#googleMaps {
  padding: 100px;
  height: 90%;
}

#cuisineType {
  font-size: 20px;
}

.mapsContainer2 {
  width: 45%;
  padding: 50px;
  float: right;
  margin-left: 100px;
}

#googleMaps2 {
  height: 500px;
}

.resultDetails {
  font-family: "Libre Baskerville", serif;
  color: white;
  border-style: double;
  border-color: lightgray;
  width: 40%;
  height: 400px;
  padding: 50px;
  margin-top: 100px;
  margin-left: 50px;
}
.picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/labackground.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  padding-bottom: 150px;
}
.header {
  background-color: black;
}

.example_e {
  border: none;
  color: white !important;
  font-weight: 200;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.example_e:hover {
  color: grey !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.fa-home {
  color: gray;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
}

.phead {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.name {
  font-size: 15px;
  color: grey;
}

.created {
  font-size: 15px;
  font-weight: bold;
}

.pictures {
  padding-top: 30px;
}

.emails2 {
  width: 50%;
  float: left;
  color: white;
  padding: 75px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  border-right: white solid;
  font-size: 12px;
}

.about2 {
  width: 50%;
  float: right;
  color: white;
  padding: 75px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 12px;
}

.emails3 {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  border-right: white solid;
  font-size: 12px;
  padding: 75px;
}

.about3 {
  width: 50%;
  float: right;
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 12px;
  padding: 75px;
}

.emails1 {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  border-right: white solid;
  font-size: 15px;
  padding: 75px;
}

.about1 {
  width: 50%;
  float: right;
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  padding: 75px;
}

h4 {
  cursor: pointer;
}

.newAdd {
  cursor: pointer;
}
.newNumber {
  cursor: pointer;
}
