.bg{
    height: auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
    opacity: .75;
    z-index: -1;
}
.stack{
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 10%;
}
.input-field{
    border-radius: 5px;
    width: 150%;
}
.title{
    position: absolute;
    background: transparent;
    border: none;
    z-index: 2;
}
.btn{
    border-radius: 5px;
}
.footer{
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: -100px;
    color: white;
    border: solid 1px yellow;
    border-radius: 5px;
    padding: 2px;
    background-color: brown;
}
